<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<html>
<head>
	<style>

		header, footer {
			padding: 1em;
			color: black;
			background-color: white;
			clear: left;
			text-align: left;
		}

		nav {
			float: left; 
			color: grey;
			max-width: 160px;
			margin: 0;
			padding: 1em;
		}

		nav ul {
			list-style-type: none;
			padding: 0;
		}

		nav ul a {
			text-decoration: none;
		} 

	</style>
</head>
<body>

	<header>
		<h1 style="font-family:verdana;">Rose Clarfeld</h1>
	</header>


	<nav>
		<ul>
			<li><a href="/index/">Home</a></li>
			<li><a href="/paintings/">Paintings</a></li>
			<li><a href="/contact/">Contact</a></li>
		</ul>
	</nav>
<p> Hi! I'm currently a Junior at Vassar College double majoring in Studio Art and Computer Science. I began painting last fall and I have fallen in love with it. 
</p>

<footer>Copyright &copy; Rose Clarfeld</footer>
</body> 
</html>